Builds/VisualStudio2017/x64/Debug
Builds/VisualStudio2017/.vs/PT-projekt-WIKE/v15/.suo
Builds/VisualStudio2017/.vs/PT-projekt-WIKE/v15/Browse.VC.db
Builds/VisualStudio2017/.vs/PT-projekt-WIKE/v15/Browse.VC.opendb
Builds/VisualStudio2017/x64/Debug/App
Builds/VisualStudio2017/.vs/PT-projekt-WIKE/v15
Builds/VisualStudio2017/x64/Debug/App/PT-projekt-WIKE_App.log
Builds/VisualStudio2017/x64/Debug/App/PT-proje.824E40AC.tlog/link.write.1.tlog
Builds/VisualStudio2017/PT-projekt-WIKE_App.vcxproj
Builds/VisualStudio2017/PT-projekt-WIKE_App.vcxproj.filters
PT-projekt-WIKE.jucer
